h1{
    text-align: center;
    color: rgb(27, 109, 68);
    text-decoration: underline rgb(0, 0, 0) wavy;
    font-family:  sans-serif;
    letter-spacing: 1.5px;
}


h2{
    color: rgb(72, 61, 143);
    background-color: rgb(152, 178, 34);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: rgb(0, 0, 0);
    background-color: rgb(156, 194, 51);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
button{
    color: hotpink;
    background-color: ivory;
}
